<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>Employee Management System</h1>
        <hr/>
        <h2>Save Employee</h2>
        <form action="#" th:action="@{/saveEmloyee}" th:object="${employee}" method="POST">
            <input type="text" th:field="*{firstName}" placeholder="Enter First Name" class="form-control mb-4 col-4">
            <input type="text" th:field="*{lastName}" placeholder="Enter Last Name" class="form-control mb-4 col-4">
            <input type="text" th:field="*{email}" placeholder="Enter Email" class="form-control mb-4 col-4">
            <input type="submit" class="btn btn-info col-2" value="Save">
        </form>

        <hr>

        <a th:href="@{/}">Back to Employee List</a>
    </div>
</body>
</html>